#container{
    height: 110px;
    width: 300px;
    border: 3px solid black;
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
}
#box1{
    background-color: red;
    float: right;
}
#box2{
    background-color: blue;
    float: left;
}