#container { 
    display: grid; 
    grid-template-columns: 100px 100px; 
    grid-template-rows: 100px 100px;
}
#box1 {
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
    background-color: lightblue;
}
#box2 {
    grid-column: 2 / 2; 
    grid-row: 1 / 2;
    background-color: lightgreen;
}
#box3 {
    grid-column: 1 / 2; 
    grid-row: 2 / 2; 
    background-color: lightpink;
}
#box4 {
    grid-column: 2/2; 
    grid-row: 2 / 2;
    background-color: lightyellow;
}