*{
    margin: 0;
    padding: 0;
}
#first{
    height: 200px;
    width: 200px;
    background-color: aqua;
}
#button{
    /* padding: 10px 15px 10px 15px; */
    padding: 10px 15px;
    margin: 100px;
    border: 5px dotted red;
    border-radius: 23px;
}
#box1{
    height: 50px;
    width: 50px;
    background-color: blue;
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid;
}
#box2{
    height: 50px;
    width: 50px;
    background-color: aqua;
    box-sizing: content-box;
    padding: 5px;
    border: 2px solid; 
}