#progress_container{
    height: 30px;
    width: 90%;
    background-color: gainsboro;
    border: 2px solid;
    border-radius: 20px;
    position: relative;
    left: 4%;
}
#progress_bar{
    height: 100%;
    background-color: mediumorchid;
    border-radius: 20px;

    animation: animate_progress 3s;
}

@keyframes animate_progress {
    0% { width: 0%; }
    90% { width: 95%; }
    95% { width: 70%; }
    100% { width: 100%; }
}