*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-left: 230px;
}
.box{
    height: 80px;
    width: 80px;
    border: 3px solid;
    margin: 5px;
}
#container{
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid;
    background-color: lavender;

    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;

    /* flex box contents shrinks itself acording to the container avoiding overflow it also helps in making responsive websites */
}
#box1{ background-color: aqua;}
#box2{ background-color: blueviolet;}
#box3{ background-color: yellow;}
#box4{ background-color: tomato;}