*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-left: 230px;
}
.box{
    height: 150px;
    width: 150px;
    border: 3px solid;
    margin: 5px;
}
#container{
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid;
    background-color: lavender;

    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}
#box1{ background-color: aqua;}
#box2{ background-color: blueviolet;}
#box3{ background-color: yellow;}
#box4{ background-color: tomato;}