.box{
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 30px;
    border: 1px solid;
    border-radius: 5px;

    transition: all 1s ease-in-out;
}
#box1{
    background-color: lime;
}
#box1:hover{
    transform: skew(45deg);
}
#box2{
    background-color: blueviolet;
}
#box2:hover{
    transform: skew(180deg);
}