*{
    margin: 0;
    padding: 0;
}
div a{
    text-decoration: none;
}
#container{
    height: 30px;
    padding: 10px;
    background-color: bisque;
    
    display: flex;
    justify-content: space-around;
}
#image{
    height: 400px;
    width: 400px;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    height: 600px;
    width: 600px;
    background-color: lavender;
    border: 3px solid;

    display: flex;
}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid;
    margin: 10px;
    flex-shrink: 0;
}
#box1{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: blue;
}
#last{
    background-color: green;
    height: 50px;
    width: 50px;
}
@media screen and (max-width: 300px) {
    #last{
        background-color: green;
    }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
    #last{
        background-color: red;
    }
}
@media screen and (min-width: 400px) {
    #last{
        background-color: blue;
    }
}