*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-left: 250px;
}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid;
    margin: 5px;
}
#container{
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid;
    background-color: lavender;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#box1{ background-color: aqua;}
#box2{ 
    background-color: blueviolet;
    /* align-self: flex-end; */
    align-self: flex-start;
}
#box3{ background-color: yellow;}
#box4{ background-color: tomato;}