*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-left: 250px;
}
.box{
    height: 75px;
    width: 75px;
    border: 3px solid;
    margin: 5px;
}
#container{
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid;
    background-color: lavender;

    display: flex;
    justify-content: center;
}
#box1{ 
    background-color: aqua;
    order: 3;
}
#box2{ 
    background-color: blueviolet;
    order: 1;
}
#box3{ 
    background-color: yellow;
    order: 4;
}
#box4{ 
    background-color: tomato;
    order: 2;
}