*{
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    margin-left: 70px;
    padding: 5px;
}
nav{
    padding: 5px;
}
header{
    background-color: bisque;
    height: 30px;
}
#second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: violet;
    margin: 5px;
    display: inline-block;
}
#box2{
    z-index: 2;
    position: absolute;
    left: 20px;
}
#container{
    border: 3px solid black;
    margin: 5px;
}
#box4{
    position: fixed;
    right: 10px;
}
footer{
    background-color: mediumaquamarine;
    position: fixed;
    bottom: 0px;
}