*{
    margin: 0;
    padding: 0;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;

    display: inline;
}