*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: goldenrod;
    margin: 5px;
    height: 100px;
    width: 100px;
}
#box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 120px;
}
#box3{
    position: absolute;
    top: 300px;
    left: 200px;
}
#box4{
    position: fixed;
    top: 120px;
    left: 20px;
}