*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#nav{
    background-color: powderblue;
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}